.form_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: calc(100% - 250px);
  padding: 30px;
  margin-left: 250px;
  margin-top: 59px;
}

.form {
  background-color: #ffff;

  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 70%;

  border-radius: 57px;
  padding: 31px;
}

button.btn.btn-primary {
  display: block;
}

.label_input_container {
  display: flex;
  flex-direction: column;
}

.checkbox_label_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.p_test {
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
}
.sub-form {
  background-color: #7ad7da;
  width: 150px;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 0 0.2rem #6ec6c9;
  border: none;
}


.element {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.firstimg {
  max-width: 85%;
  height: auto;
  margin-left: 115px;
}